@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kumbh+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #000;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    /* font-family: 'Bebas Neue', cursive; */
}

ul {
    list-style: none;
}

.bg {
    background-image: url('./images/nasa.jpg');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
    animation: introLoad 2s forwards;

}

.wrapper {
    padding: 0 80px;
    width: 100%;
    height: auto;
    z-index: -999;
}

.wrapper-container {
    height: 100vh;
    width: 100%;
}

header {
    height: 15%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
}

header .links ul {
    display: flex;
}

header .links a {
    color: #fff;
    margin-left: 3rem;
    display: inline-block;
    font-weight: bold;
    transition: all 0.3s ease;
    font-size: 14px;
}

header .links a:hover {
    color: #fbca41;
}

.overlay {
    display: none;
}

.hamburger-menu {
    position: relative;
    z-index: 99;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: none;
}

.hamburger-menu .bar {
    position: relative;
    width: 100%;
    height: 3px;
    background: #ffffff;
    border-radius: 3px;
}

.bar::before,
.bar::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    transition: 0.5s;
}

.bar::before {
    transform: translateY(-9px);
}

.bar::after {
    transform: translateY(9px);
}

.wrapper.active .hamburger-menu .bar {
    background: transparent;
}

.wrapper.active .bar::before {
    transform: translateY(0) rotate(-45deg);
}

.wrapper.active .bar::after {
    transform: translateY(0) rotate(45deg);
}

/* **** HERO **** */

section.hero {
    color: #fff;
    width: 100%;
    height: 85%;
    z-index: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 60px 0;
}

section.hero .container {
    width: 100%;
}

section.hero h4 {
    letter-spacing: 13px;
    font-family: 'Bebas Neue', cursive;
    font-weight: unset;
    font-size: 20px;
}

section.hero h1 {
    font-size: 60px;
    line-height: 90px;
}

section.hero .down-arrow {
    stroke: #fff;
    /* position:absolute;
    bottom: 0; */
    width: 1.5em;
    animation: moveArrow 1s alternate-reverse infinite;
}


/* ***** ABOUT ***** */

section.about {
    padding: 60px 0;
    width: 100%;
    height: auto;
    color: #fff;
}

section.about .container {
    display: flex;
    justify-content: space-between;
}

section.about .left {
    width: 50%;
}

.about h1 {
    font-size: 40px;
    width: 90%;
    color: #fbca41;
}

section.about .right {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}

section.about .right div {
    cursor: pointer;
}

section.about .left h1 {
    margin-bottom: 10px;
}

section.about .right div h3 {
    padding: 10px 0;
}

.about .left p {
    width: 80%;
}

.about p {
    color: #b8b8b8;
}

/* ***** WORKS ***** */

.works {
    width: 100%;
    height: auto;
    padding: 60px 0;
}

.works .left h1 {
    margin-bottom: 60px;
    font-size: 40px;
    color: #fbca41;
}
.works .left h1 span {
    color: #000;
    background: #fbca41;
    padding: 0 10px;
}

.works .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}

.works .right .grid-item{
    background-size: cover;
    background-position: center;
    object-fit: cover;
}

.works .right .grid-item{
    height:300px;
}

.works .right .item1{
    background:url(./images/1.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
    animation: change 20s ease-in-out infinite;
}

.works .right .item2{
    background: url(./images/2.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    animation: change2 20s ease-in-out infinite;
    animation-delay: 1s;
}

.works .right .item3{
    background: url(./images/11.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    animation: change3 20s ease-in-out infinite;
    animation-delay: 2s;

}

.works .right .item4{
    background: url(./images/15.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    animation: change4 20s ease-in-out infinite;
    animation-delay: 3s;

}

.works .right .item5{
    background: url(./images/3.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    animation: change5 20s ease-in-out infinite;
    animation-delay: 4s;
}

.works .right .item6{
    background: url(./images/4.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    grid-column: 3/5;
    animation: change6 20s ease-in-out infinite;
    animation-delay: 5s;
}

.works .right .item7{
    background: url(./images/3.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    grid-column: 1/3;
    animation: change7 20s ease-in-out infinite;
    animation-delay: 6s;
}

.works .right .item8{
    background: url(./images/9.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    animation: change8 20s ease-in-out infinite;
    animation-delay: 7s;

}
.works .right .item9{
    background: url(./images/1.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    animation: change9 20s ease-in-out infinite;
    animation-delay: 8s;
}
/* .works .right .item10{
    background: url(./images/4.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.works .right .item11{
    background: url(./images/4.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.works .right .item12{
    background: url(./images/4.jpg);
    object-fit: cover;
    background-size: cover;
    background-position: center;
    grid-column: 3/5;
    animation: change 20s ease-in-out infinite;

} */



/* .works .right .item1 {
    grid-column: 1/3;
}

.works .right .item6 {
    grid-column: 3/5;
}

.works .right .item7 {
    grid-column: 1/3;
}

.works .right .item12 {
    grid-column: 3/5;
}

.works .right .grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works .right .galleryimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .5s;
}

.works .right .gallerylink {
    position: relative;
    display: block;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.works .right .galleryoverlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    opacity: 1;
    pointer-events: none;
    transition: opacity .2s;
}

.works .right .gallerylink:hover .galleryoverlay {
    opacity: 0;
}

.works .right .gallerylink:hover .galleryimage {
    transform: scale(1.2);
} */

/* ***** SERVICES ***** */
.services {
    width: 100%;
    height: auto;
    padding: 60px 0;
    color: #fff;
}

.services p {
    color: #b8b8b8;
}

.services .left h1 {
    font-size: 40px;
    color: #fbca41;
    margin-bottom: 60px;
}

.services .right {
    display: grid;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.services .right div {
    cursor: pointer;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: #0f0f0f;
}

.services .right span {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 25px;
    margin-bottom: 100px;
    /* padding-bottom: 10px; */
    border-right: 2px solid #fbca41;
}

.services .right h3 {
    margin: 10px 0;
}

.services .left h1 span {
    color: #000;
    background: #fbca41;
    padding: 0 10px;
}

.jumbotron {
    width: 100%;
    height: auto;
    padding: 60px 0;
    color:#000;
}

.jumbotron div{
    height:auto;
    width:100%;
    background: -webkit-linear-gradient(to right, #fbca41, #f8ad0a);
    background: linear-gradient(to bottom, #fbca41, #f8ad0a);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.jumbotron div h1{
    font-size: 40px;
    width: 30%;
    margin-top: 50px;
}
.jumbotron div a svg{
    stroke:#000;
    margin-top: 50px;

}
.jumbotron div a svg path{
    fill: #000;
}

/* ***** CONTACT ***** */

.contact {
    width: 100%;
    height: auto;
    padding: 60px 0;
}
.contact .footer{
    color:#fff;
}
.contact .footer .top{
    width:100%;
    height:400px;
}
.contact .footer .top iframe{
    width:100%;
    height:100%;
}
.contact .footer .bottom{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;

}
.footer .bottom .sec1{
    width:20%;
    margin-bottom: 20px;
}
.footer .bottom .sec1 i{
    font-size: 30px;
}
.footer .bottom .sec1 a img{
    width:90px;
}
.footer .bottom .sec1 p{
    color: #b8b8b8;
}
.footer .bottom .sec2 p{
    color:#b8b8b8;
    margin-bottom: 5px;
}
.footer .bottom .sec2 h4,
.footer .bottom .sec3 h4{
     margin-bottom: 10px;
}
.footer .bottom .sec3{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.footer .bottom .sec3 i{
    font-size: 15px;
    color:#b8b8b8;
}
.footer .bottom .sec3 a{
    color:#b8b8b8;
    margin-bottom: 5px;
}
.footer .bottom .sec3 a:hover{
    color:#fff;
    
}
 















@media screen and (max-width: 870px) {
    .wrapper {
        padding: 0 40px;
    }

    .hamburger-menu {
        display: flex;
        position: fixed;
        right: 0;
        margin-right: 40px;
    }

    header .links {
        position: fixed;
        top: 0;
        right: 0;
        max-width: 60%;
        width: 100%;
        height: 100vh;
        /* background:rgb(240, 86, 86); */
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        z-index: 99;
        transform: translateX(100%);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
    }

    header .links ul {
        flex-direction: column;
    }

    header .links a {
        margin-left: 0;
        padding: 30px 0;
        text-align: center;
        width: 100%;
    }

    .wrapper.active .overlay {
        display: block;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.075);
        opacity: 1;
        pointer-events: none;
        transition: 0.9s;
        z-index: 98;
    }

    .wrapper.active .links {
        transform: translateX(0);
        box-shadow: 0 0 50px 2px rgba(0, 0, 0, 0.4);
    }

    section.hero h4 {
        font-size: 20px;
    }

    section.hero h1 {
        font-size: 50px;
        line-height: 80px;
    }

    section.about .container {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    section.about .left,
    section.about .right {
        width: 100%;
    }

    section.about .right {
        padding: 20px 0;
    }

    .works .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        gap: 20px;
    }

    .works .right .item1 {
        grid-column: 1/2;
    }

    .works .right .item6 {
        grid-column: 2/3;
    }

    .works .right .item7 {
        grid-column: 1/2;
    }

    .works .right .item12 {
        grid-column: 2/3;
    }

    .services .right {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }
    
}

@media screen and (max-width: 470px) {
    .wrapper {
        padding: 0 20px;
    }

    .hamburger-menu {
        margin-right: 20px;
    }

    section.hero {
        width: 100%;
        max-height: 100vh;
        padding: 30px 0;
    }

    section.hero .container {
        height: 100%;
    }

    section.hero h4 {
        letter-spacing: 8px;
        font-size: 15px;
    }

    section.hero h1 {
        font-size: 40px;
        line-height: 60px;
    }

    section.hero .down-arrow {
        width: 1.5em;
    }

    section.about .left,
    section.about .right {
        width: 100%;
    }

    section.about h1,
    .works .left h1,
    .services .left h1{
        font-size: 30px;
        width: 100%;
    }

    section.about .right {
        display: flex;
        flex-direction: column;
        padding: 20px 0;
        
    }

    .works .right .grid-container {
        display: flex;
        flex-direction: column;
        
    }

    
    .works .right .grid-item{
        height:300px;
        width:100%;
        background-position: center;
        background-size: cover;
    }

    .services .right {
        display: block;
    }

    .services .right div {
        margin-bottom: 20px;
    }
    .jumbotron div {
        padding:20px;
    }
    .jumbotron div h1{
        font-size: 25px;
    }
    .jumbotron div svg{
        position: relative;
        top:60px;
        margin: 0;
    }
    .contact .footer .bottom{
        flex-direction: column;
        justify-content: space-between;
    
    }
    .footer .bottom .sec1{
        width:100%;
    }
    .footer .bottom .sec2,
    .footer .bottom .sec3{
        margin-bottom: 20px;
    }
}


@keyframes introLoad {
    from {
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    to {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}

@keyframes moveArrow {
    from {
        transform: translateY(-20px);
    }

    to {
        transform: translateY(0);
    }
}


@keyframes change {
    0%{
        background-image: url('./images/1.jpg');
    }
    25%{
        background-image: url('./images/2.jpg');
    }
    50%{
        background-image: url('./images/3.jpg');
    }
    75%{
        background-image: url('./images/4.jpg');
    }
    100%{
        background-image: url('./images/5.jpg');
    }

}

@keyframes change2 {
    0%{
        background-image: url('./images/6.jpg');
    }
    25%{
        background-image: url('./images/7.jpg');
    }
    50%{
        background-image: url('./images/8.jpg');
    }
    75%{
        background-image: url('./images/9.jpg');
    }
    100%{
        background-image: url('./images/10.jpg');
    }

}

@keyframes change3 {
    0%{
        background-image: url('./images/11.jpg');
    }
    25%{
        background-image: url('./images/12.jpg');
    }
    50%{
        background-image: url('./images/13.jpg');
    }
    75%{
        background-image: url('./images/14.jpg');
    }
    100%{
        background-image: url('./images/15.jpg');
    }

}

@keyframes change4 {
    0%{
        background-image: url('./images/16.jpg');
    }
    25%{
        background-image: url('./images/17.jpg');
    }
    50%{
        background-image: url('./images/1.jpg');
    }
    75%{
        background-image: url('./images/2.jpg');
    }
    100%{
        background-image: url('./images/3.jpg');
    }

}

@keyframes change5 {
    0%{
        background-image: url('./images/4.jpg');
    }
    25%{
        background-image: url('./images/5.jpg');
    }
    50%{
        background-image: url('./images/6.jpg');
    }
    75%{
        background-image: url('./images/7.jpg');
    }
    100%{
        background-image: url('./images/8.jpg');
    }

}

@keyframes change6 {
    0%{
        background-image: url('./images/9.jpg');
    }
    25%{
        background-image: url('./images/10.jpg');
    }
    50%{
        background-image: url('./images/11.jpg');
    }
    75%{
        background-image: url('./images/12.jpg');
    }
    100%{
        background-image: url('./images/5.jpg');
    }

}

@keyframes change7 {
    0%{
        background-image: url('./images/6.jpg');
    }
    25%{
        background-image: url('./images/7.jpg');
    }
    50%{
        background-image: url('./images/8.jpg');
    }
    75%{
        background-image: url('./images/9.jpg');
    }
    100%{
        background-image: url('./images/10.jpg');
    }

}

@keyframes change8 {
    0%{
        background-image: url('./images/11.jpg');
    }
    25%{
        background-image: url('./images/12.jpg');
    }
    50%{
        background-image: url('./images/13.jpg');
    }
    75%{
        background-image: url('./images/14.jpg');
    }
    100%{
        background-image: url('./images/15.jpg');
    }

}

@keyframes change9 {
    0%{
        background-image: url('./images/16.jpg');
    }
    25%{
        background-image: url('./images/17.jpg');
    }
    50%{
        background-image: url('./images/1.jpg');
    }
    75%{
        background-image: url('./images/2.jpg');
    }
    100%{
        background-image: url('./images/3.jpg');
    }

}